@import "./styles/global.css";
.app {
  display: grid;
  grid-template-columns: minmax(0, 30rem);
  gap: 2rem;
  place-content: center;
  background-color: var(--clr-main);
  height: 100vh;
  text-align: center;
}
